@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>More about us</h3>
<p>
    We are company by the people, for the people and of the people!
</p>
<img src="https://th.bing.com/th/id/R.d5f16d9605264f276e9ed9e76b4bedf8?rik=QSag%2b346d7XioQ&riu=http%3a%2f%2fibtisemetour.com%2fwp-content%2fuploads%2f2014%2f04%2fabout-us.jpg&ehk=yvCst5tt63Brj5fQsafO1%2bwHWWFVRGoWx2oLcs2rIrY%3d&risl=&pid=ImgRaw&r=0"
alt = "About" height="250" width="270"/>