@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Employees Info</h3>
<p>
    <table>
        <tr>
            <th>Empno</th>
            <th>Ename</th>
            <th>Job</th>
            <th>Sal</th>
            <th>Deptno</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ved</td>
            <td>Mech</td>
            <td>12343</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Dev</td>
            <td>IT</td>
            <td>1233</td>
            <td>11</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kev</td>
            <td>Tech</td>
            <td>123456</td>
            <td>13</td>
        </tr>
    </table>
</p>